Redirect /subscribe /docs/subscribe
Redirect /privacy.html /docs/privacy
Redirect /donate /docs/donate
Redirect /translations /docs/translations
Redirect /help/tasker /docs/tasker
Redirect /help /docs
Redirect /caldav /docs/caldav_intro
Redirect /etesync /docs/etesync_intro
Redirect /changelog https://github.com/tasks/tasks/blob/main/CHANGELOG.md
Redirect /source https://github.com/tasks/tasks
Redirect /weblate https://hosted.weblate.org/projects/tasks/android
Redirect /sync /docs/sync
Redirect /notifications /docs/notifications
Redirect /intents /docs/intents
Redirect /filters /docs/filters
Redirect /davx5 /docs/davx5
Redirect /backups /docs/backups
Redirect /.well-known/caldav https://caldav.tasks.org
Redirect /decsync /docs/decsync
Redirect /passwords /docs/app_passwords
Redirect /sharing /docs/sharing
